.benefits {

&__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include tablet{
    flex-direction: row;
    }

    @include desktop{
        
    }
} 

&__item {
    max-width: 450px;

    @include tablet{
        max-width: 354px;
    }

    @include desktop{
     max-width: 270px;   
    }
    
}

&__heading {
    margin-bottom: 10px;

    @include font(700, 14px);

    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto; 
    text-align: center;

    @include tablet {
            text-align: start;
        }

    @include desktop{
      text-align: start;  
    }
}

&__paragraph {
    @include font(400, 14px);
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: getColor('tetriary-text-color');
}

&__elem {   
    max-width: 450px;
    height: 120px;
    background-color: getColor('second-background-color');
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;

    @include tablet {
        max-width: 354px;
    }

    @include desktop{
    max-width: 270px;
    }
}

&__icons {
    margin: auto;
    width: 70px;
    height: 70px;

    @include desktop{
    width: 70px;
    height: 70px;
}
}
}